* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
:root {
    --primary-color: #ff5b2e;
    --color-white: #fff;
    --color-word: #000958;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
textarea,
input,
select {
    font-family: inherit;
}

.btn {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    min-width: 190px;
    --height: 60px;
    height: var(--height);
    border-radius: 99px;
    background-color: var(--primary-color);
    color: var(--color-white);
    font-size: 1.6rem;
    line-height: var(--height);
    transition: all ease-in 0.25s;
}

.btn:hover {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--color-white);
}

.section-heading {
    font-family: Sora, sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-word);
}

.section-desc {
    margin-top: 24px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    color: #656689;
}
/* header */

.header {
    background-color: #fffaf5;
    padding: 20px 10px 10px 10px;
}

.header.fixed {
    position: sticky;
    top: -10px;
    z-index: 100;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 31px;
}

.navbar__item {
    font-size: 1.4rem;
    line-height: 1;
    padding: 6px;
}

.navbar__item:hover,
.navbar__item.active {
    text-shadow: 0 0 1px var(--color-word);
    color: var(--color-word);
}

.header__cta-btn {
    min-width: 117px;
    --height: 50px;
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid #4d5287;
    background-color: var(--color-white);
    color: var(--color-word);
}

.header__cta-btn:hover {
    border: 1px solid #4d5287;
    background-color: var(--color-word);
    color: var(--color-white);
}

.hero {
    padding: 55px 0px;
    margin-top: 35px;
}

.hero__inner {
    display: flex;
    align-items: center;
    gap: 120px;
}

.hero-media {
    position: relative;
    padding-bottom: 94px;
    display: flex;
    align-items: flex-end;
}

.hero-media__wrap {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    background-color: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero-media__small {
    width: 186px;
    height: 244px;
    background-color: #faa7ad;
    border-color: #fcdee1;
    margin: 0 0 -58px -32px;
}

.hero-media__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero-media__decor {
    position: absolute;
    z-index: -1;
}

.hero-media__decor--left {
    left: -58px;
    bottom: 0;
}

.hero-media__decor--right {
    top: 17px;
    right: -52px;
}

.hero-list {
    position: absolute;
    z-index: 4;
    left: 130px;
    bottom: 0;
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -17px 14px 68px -4px #cfae8440;
    padding: 18px 14px;
}

.hero-list__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-list__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background-color: #f7a70c;
}

.hero-list__thumb--blue {
    background-color: #6597c2;
}

.hero-list__title {
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 600;
    color: var(--color-word);
}

.hero-list__skeleton {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    background: #ebecf2;
    border-radius: 99px;
}

.hero-list__skeleton--short {
    width: 39px;
}

.hero-list__separate {
    margin: 20px 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    border-radius: 99p;
    background-color: #ebecf2;
}

/* Hero content */
.hero__heading {
    font-family: Sora, sans-serif;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.22;
    color: var(--color-word);
    max-width: 100%;
}

.hero__desc {
    max-width: 390px;
}

.hero-cta {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.hero-cta__btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    line-height: normal;
    outline: none;
    border: none;
    font-size: 1.6rem;
    font-weight: 600;
    box-shadow: 0px 13px 26px -8px #ff5b2e6b;
}

.hero-cta__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--primary-color);
    box-shadow: 4px 3px 10px -1px #bf290066;
}

.hero-cta__btn:hover .hero-cta__icon {
    background-color: var(--primary-color);
    color: var(--color-white);
}

.hero-cta__desc {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-word);
    text-decoration: underline;
}

/* about */
.about {
    margin-top: 22px;
    padding-top: 53px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 154px;
    align-items: center;
}

.about__title {
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    color: #5e6085;
}

.about__heading {
    width: 446px;
    margin-top: 15px;
}

.about__desc {
    width: 431px;
}

.about__check-list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 35px;
}

.about__check-list-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    color: #48496a;
}

.about__check-list-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: var(--primary-color);
}

.about__check-list-item::after {
    content: url(/assets/images/icon/check.svg);
    position: absolute;
    top: 2px;
    left: 5px;
}

/* about media */
.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    padding: 31px 26px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px #55f0ff2b;
    text-align: center;
    border-radius: 10px;
}

.about__card-value {
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
}

.about__card-title {
    display: inline-block;
    margin-top: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px;
    color: #c6f4f9;
}

.about__card-icon {
    position: absolute;
    top: -25px;
    right: -35px;
}

.about__media-wrap {
    position: relative;
    margin-left: auto;
    width: 494px;
}

.about__media-wrap::after {
    position: absolute;
    z-index: -1;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 16px;
    height: 336px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__media-img {
    width: 450px;
    display: block;
}

.about__media-icon {
    position: absolute;
    z-index: -1;
    top: 157px;
    right: -50px;
}

/* media bottom */
.about__media-wrap-bottom {
    width: 458px;
    height: 500px;
    border-radius: 18px;
    margin-left: 0;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%),
        linear-gradient(0deg, #ffffff, #ffffff);
}

.about__media-wrap-bottom::after {
    content: none;
}

.aobut__media-img-bottom {
    width: 100%;
    height: 100%;
}

.about__media-icon-bottom {
    position: absolute;
}

.about__media-icon-bottom:nth-child(2) {
    top: 13px;
    right: 63px;
}

.about__media-icon-bottom:nth-child(3) {
    top: -16px;
    right: 13px;
}

.about__media-icon-bottom:nth-child(4) {
    top: 33px;
    right: -21px;
}

.about__media-icon-bottom:nth-child(5) {
    top: 268px;
    right: -33px;
}

.about__media-icon-bottom:nth-child(6) {
    top: 336px;
    right: 19px;
}

.about__media-icon-bottom:nth-child(7) {
    bottom: -54px;
    right: -42px;
}
