* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
:root {
    --primary-color: #ff5b2e;
    --color-white: #fff;
    --color-word: #000958;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
textarea,
input,
select {
    font-family: inherit;
}

.btn {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    min-width: 190px;
    --height: 60px;
    height: var(--height);
    border-radius: 99px;
    background-color: var(--color-white);
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: var(--height);
    transition: all ease-in 0.25s;
    border: 1px solid var(--primary-color);
}

.btn:hover {
    color: var(--color-white);
    background-color: var(--primary-color);
}

.btn__primary {
    color: var(--color-white);
    background-color: var(--primary-color);
}

.btn__primary:hover {
    color: var(--primary-color);
    background-color: var(--color-white);
}

.section-heading {
    font-family: Sora, sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-word);
}

.section-desc {
    margin-top: 24px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    color: #656689;
}
.section-title {
    font-family: Sora, sans-serif;
    margin-bottom: 15px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    color: #5e6085;
}
/* header */

.header {
    background-color: #fffaf5;
    padding: 20px 10px 10px 10px;
}

.header.fixed {
    position: sticky;
    top: -10px;
    z-index: 100;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 31px;
}

.navbar__item {
    font-size: 1.4rem;
    line-height: 1;
    padding: 6px;
}

.navbar__item:hover,
.navbar__item.active {
    text-shadow: 0 0 1px var(--color-word);
    color: var(--color-word);
}

.header__cta-btn {
    min-width: 117px;
    --height: 50px;
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid #4d5287;
    background-color: var(--color-white);
    color: var(--color-word);
}

.header__cta-btn:hover {
    border: 1px solid #4d5287;
    background-color: var(--color-word);
    color: var(--color-white);
}

.hero {
    padding: 55px 0px;
    margin-top: 35px;
}

.hero__inner {
    display: flex;
    align-items: center;
    gap: 120px;
}

.hero-media {
    position: relative;
    padding-bottom: 94px;
    display: flex;
    align-items: flex-end;
}

.hero-media__wrap {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    background-color: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero-media__small {
    width: 186px;
    height: 244px;
    background-color: #faa7ad;
    border-color: #fcdee1;
    margin: 0 0 -58px -32px;
}

.hero-media__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero-media__decor {
    position: absolute;
    z-index: -1;
}

.hero-media__decor--left {
    left: -58px;
    bottom: 0;
}

.hero-media__decor--right {
    top: 17px;
    right: -52px;
}

.hero-list {
    position: absolute;
    z-index: 4;
    left: 130px;
    bottom: 0;
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -17px 14px 68px -4px #cfae8440;
    padding: 18px 14px;
}

.hero-list__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-list__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background-color: #f7a70c;
}

.hero-list__thumb--blue {
    background-color: #6597c2;
}

.hero-list__title {
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 600;
    color: var(--color-word);
}

.hero-list__skeleton {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    background: #ebecf2;
    border-radius: 99px;
}

.hero-list__skeleton--short {
    width: 39px;
}

.hero-list__separate {
    margin: 20px 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    border-radius: 99p;
    background-color: #ebecf2;
}

/* Hero content */
.hero__heading {
    font-family: Sora, sans-serif;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.22;
    color: var(--color-word);
    max-width: 100%;
}

.hero__desc {
    max-width: 390px;
}

.hero-cta {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.hero-cta__btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    line-height: normal;
    outline: none;
    box-shadow: 0px 13px 26px -8px #ff5b2e6b;
}

.hero-cta__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--primary-color);
    box-shadow: 4px 3px 10px -1px #bf290066;
}

.hero-cta__btn:hover .hero-cta__icon {
    background-color: var(--primary-color);
    color: var(--color-white);
}

.hero-cta__desc {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-word);
    text-decoration: underline;
}

/* about */
.about {
    margin-top: 22px;
    padding-top: 53px;
    padding-bottom: 55px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 146px;
    align-items: center;
}

.about__title {
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    color: #5e6085;
}

.about__heading {
    width: 446px;
    margin-top: 15px;
}

.about__desc {
    width: 431px;
}

.about__check-list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 35px;
}

.about__check-list-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    color: #48496a;
}

.about__check-list-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: var(--primary-color);
}

.about__check-list-item::after {
    content: url(../images/icon/check.svg);
    position: absolute;
    top: 2px;
    left: 5px;
}

/* about media */
.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    padding: 31px 26px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px #55f0ff2b;
    text-align: center;
    border-radius: 10px;
}

.about__card-value {
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
}

.about__card-title {
    display: inline-block;
    margin-top: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px;
    color: #c6f4f9;
}

.about__card-icon {
    position: absolute;
    top: -25px;
    right: -35px;
}

.about__media-wrap {
    position: relative;
    margin-left: auto;
    width: 494px;
}

.about__media-wrap::after {
    position: absolute;
    z-index: -1;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 16px;
    height: 336px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__media-img {
    width: 450px;
    display: block;
}

.about__media-icon {
    position: absolute;
    z-index: -1;
    top: 157px;
    right: -50px;
}

/* media bottom */
.about__media-wrap-bottom {
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    margin-left: 0;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%),
        linear-gradient(0deg, #ffffff, #ffffff);
}

.about__media-wrap-bottom::after {
    content: none;
}

.aobut__media-img-bottom {
    width: 100%;
}

.about__media-icon-bottom {
    position: absolute;
}

.about__media-icon-bottom:nth-child(2) {
    top: 13px;
    right: 63px;
}

.about__media-icon-bottom:nth-child(3) {
    top: -16px;
    right: 13px;
}

.about__media-icon-bottom:nth-child(4) {
    top: 33px;
    right: -21px;
}

.about__media-icon-bottom:nth-child(5) {
    top: 268px;
    right: -33px;
}

.about__media-icon-bottom:nth-child(6) {
    top: 336px;
    right: 19px;
}

.about__media-icon-bottom:nth-child(7) {
    bottom: -54px;
    right: -42px;
}

/* content bottom */
.about__desc-bottom {
    width: 511px;
}

.about__list {
    margin-top: 52px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__list::after {
    position: absolute;
    left: 0;
    bottom: -14px;
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    border-radius: 99px;
    background: rgba(255, 91, 46, 0.07);
}

.about__item {
    display: flex;
    align-items: center;
    column-gap: 11px;
    cursor: pointer;
    position: relative;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    color: #48496a;
    padding: 2px 0;
}

.about__item::after {
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: -14px;
    content: "";
    width: 0px;
    height: 3px;
    border-radius: 99px;
    background-color: var(--primary-color);
    transition: all ease 0.25s;
}

.about__item:nth-child(2)::after,
.about__item:nth-child(3)::after {
    bottom: -16px;
}

.about__item.active::after {
    width: 95px;
}

.about__info-item {
    display: none;
}

.about__info-item.active {
    display: inline-block;
}

.about__desc--small {
    min-height: 100px;
    margin-top: 36px;
    width: 391px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    color: #656689;
}

.about__more {
    margin-top: 32px;
    position: relative;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
}

.about__more::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    display: inline-block;
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 99px;
    background-color: var(--primary-color);
}

/* service */
.service {
    margin-top: 130px;
    padding: 68px 0 100px;
    background: #fff6ed;
}

.service__top {
    text-align: center;
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding-top: 71px;
    column-gap: 70px;
}

.service-card {
    padding: 30px 22px 30px 28px;
    width: 294px;
    border-radius: 10px;
    border: 2px solid #ffbc7a42;
    background-color: var(--color-white);
}

.service-card + .service-card {
    margin-top: 24px;
}

.service-card__heading {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-family: Sora, sans-serif;
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-card__heading::before {
    display: inline-block;
    content: "";
    width: 2px;
    height: 22px;
    background: linear-gradient(89.89deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service-card__desc {
    margin-top: 18px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    color: #656689;
}

.service__more {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin-top: 24px;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    color: #34396a;
}

.service__more::after {
    margin-top: 1px;
    content: url(../images/icon/arrowupright.svg);
}

.service__column-wrap {
    text-align: center;
}

.service__media {
    position: relative;
    margin-top: 17px;
}

.service__media::after {
    position: absolute;
    content: "";
    width: 410px;
    height: 350px;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 10px;
    margin: 0 auto;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__media-img {
    position: relative;
    width: 100%;
    display: block;
    z-index: 5;
}

.service__cta {
    margin-top: 45px;
    width: 214px;
    --height: 56px;
}

.service__cta:hover {
    box-shadow: 0px 13px 26px -8px #ff5b2e6b;
}

/* staff */
.staff {
    padding: 65px 0;
    margin-top: 65px;
}

.staff__inner {
    text-align: center;
}

.staff__list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.staff-item {
    text-align: center;
}

.staff-item:nth-child(4) .staff-item__thumb::before {
    background-image: url(../images/icon/staff-decor-04.png);
}

.staff-item__thumb {
    margin: 0 16px;
    position: relative;
    border-radius: 130px;
}

/* item thumb before */
.staff-item__thumb::before {
    content: "";
    position: absolute;
    width: calc(100% + 32px);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    left: -16px;
}

.staff-item:nth-child(odd) .staff-item__thumb::before {
    background-position: bottom;
}

.staff-item:nth-child(1) .staff-item__thumb::before {
    background-image: url(../images/icon/staff-decor-01.png);
}

.staff-item:nth-child(2) .staff-item__thumb::before {
    background-image: url(../images/icon/staff-decor-02.png);
}

.staff-item:nth-child(3) .staff-item__thumb::before {
    background-image: url(../images/icon/staff-decor-03.png);
}

/* item thumb after */
.staff-item__thumb::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    left: 0;
    height: 94%;
    border-radius: inherit;
    background: #90ccff;
}

.staff-item:nth-child(2) .staff-item__thumb::after {
    background: #ff997e;
}

.staff-item:nth-child(3) .staff-item__thumb::after {
    background: #fabf3e;
}

.staff-item:nth-child(4) .staff-item__thumb::after {
    background-color: #5bd6e2;
}
.staff-item__img {
    display: block;
    border-radius: inherit;
    width: 100%;
    object-fit: cover;
}

.staff__job {
    margin-top: 34px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    color: #656689;
}

.staff__name {
    margin-top: 14px;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    color: var(--color-word);
}

.staff__btn {
    margin-top: 48px;
    --height: 56px;
    min-width: 193px;
}

/* price */
.price {
    background: #fff6ed;
    padding: 86px 0px;
    margin-top: 65px;
}

.price__inner {
    text-align: center;
}

.price__desc {
    margin-left: auto;
    margin-right: auto;
    width: 710px;
}

.price-sale {
    margin-top: 38px;
}

.price-sale__wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 276px;
    height: 56px;
    color: var(--primary-color);
    background-color: var(--color-white);
    border-radius: 99px;
    border: 1px solid #ff997a;
    user-select: none;
    cursor: pointer;
}

.price-sale__item {
    padding: 20px 40px;
}

.price-sale__item.active {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    background-color: var(--primary-color);
    width: 50%;
    height: 100%;
    border-radius: inherit;
}

.price-sale__save {
    position: absolute;
    bottom: 29px;
    right: -110px;
}

.price__list {
    width: 994px;
    margin: 56px auto 0;
    text-align: left;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    column-gap: 44px;
}

.price__list.active {
    display: grid;
}

.price-item {
    padding: 30px 28px;
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: 0px 20px 44px 0px #c36c160f;
}

.price-item__type {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    color: var(--primary-color);
}

.price-item__time {
    margin-top: 8px;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #3f4065;
}

.price__item-price {
    display: inline-block;
    margin-top: 24px;
    font-family: Sora, sans-serif;
    font-size: 3.3rem;
    font-weight: 700;
    color: #000958;
}

.price-item__btn {
    border-color: #ff5b2e99;
    width: 246px;
    --height: 44px;
    margin-top: 22px;
}

.price-item__btn:hover {
    background-color: var(--primary-color);
    color: var(--color-white);
}

.price-item__list {
    margin-top: 24px;
}

.price-item__item {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    color: #656689;
}

.price-item__item::before {
    margin-right: 12px;
    content: url(../images/icon/price-check.svg);
}

.price-item:nth-child(1) .price-item__item:nth-child(n + 5)::before,
.price-item:nth-child(2) .price-item__item:nth-child(n + 6)::before {
    content: url(../images/icon/check-02.svg);
}

.price-item__item + .price-item__item {
    margin-top: 18px;
}

/* review */
.review {
    padding: 53px 0;
}

.review__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 44px;
}

.review__control {
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border: 1.5px solid #ffd1c4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background: transparent;
    transition: all linear 0.25s;
}

.review__control:hover {
    cursor: pointer;
    box-shadow: 0px 5px 27px 0px #ff5b2e4d;
    border-color: var(--primary-color);
    color: var(--color-white);
    background-color: var(--primary-color);
}

.review__wrap {
    overflow: hidden;
}

.review__list {
    display: flex;
    transition: all linear 0.5s;
}

.review-item {
    display: flex;
    align-items: center;
    column-gap: 115px;
    width: 100%;
    flex-shrink: 0;
}

.review-item__media {
    position: relative;
    flex-shrink: 0;
    width: 274px;
    border-radius: 137px;
}

.review-item__media::after {
    content: "";
    position: absolute;
    height: 82%;
    inset: auto 0 0 0;
    background: #ffda54;
    border-radius: inherit;
}

.review-item__img {
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
    border-radius: inherit;
}

.review-item__content {
    margin-top: 10px;
}
.review-item__quote {
    margin-top: 24px;
    width: 553px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.56;
    color: #000000;
}

.review-item__author {
    display: flex;
    align-items: center;
    margin-top: 34px;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.review-item__author::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #000000;
    margin-right: 8px;
}

.review__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.review__dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    transition: all linear 0.25s;
}

.review__dot.active {
    width: 24px;
    background-color: var(--primary-color);
}

.review__dot:hover {
    background-color: var(--primary-color);
}

/* blog */
.blog {
    margin-top: 77px;
}

.blog__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__desc {
    margin-right: 72px;
    width: 350px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    color: #656689;
}

.blog__btn {
    margin-top: 24px;
    width: 182px;
    --height: 56px;
}

.blog__list {
    display: flex;
    gap: 48px;
    margin-top: 54px;
}

.blog-item {
    max-width: 358px;
}

.blog__media {
    padding: 24px 0 0 36px;
    width: 358px;
    height: 362px;
    background: #90ccff;
    border-radius: 24px;
}

.blog-item:nth-child(2) .blog__media {
    background: #ff997e;
}

.blog__media-date {
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-white);
}

.blog__media-img {
    display: block;
    margin-top: 25px;
    width: 100%;
    height: 296px;
    object-fit: cover;
}

.blog-item__content {
    padding: 28px 7px 0 0;
}

.blog-item__heading {
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--color-word);
}

.blog-item__desc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.875;
    color: #656689;
}

/* footer */
.footer {
    margin-top: 130px;
    background: linear-gradient(to right, #fff6ed 42%, transparent 42%);
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__left {
    padding: 114px 212px 148px 0;
    background: #fff6ed;
    max-width: 615px;
}

.footer__form {
    margin-top: 34px;
    position: relative;
    width: 268px;
    border-radius: 23px;
}

.footer__input {
    padding: 16px 60px 16px 22px;
    width: 100%;
    height: 46px;
    border: 1px solid #ff5b2e40;
    border-radius: inherit;
    outline: none;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.875;
    color: #656689;
}

.footer__input:focus {
    border-color: var(--primary-color);
    background-color: transparent;
}

.footer__submit {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--color-white);
    box-shadow: 0px 15px 28px -7px #ff5b2e4d;
}

.footer__social {
    margin-top: 68px;
}

.footer__heading {
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.8;
    color: var(--color-word);
}

.footer__social-list {
    display: flex;
    column-gap: 16px;
    margin-top: 16px;
}

.footer__social-item {
    display: inline-block;
    text-align: center;
    line-height: 38px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--color-white);
}

.footer__social-item:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    scale: 1.2;
    cursor: pointer;
}

.footer__right {
    max-width: 524px;
}

.footer__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 137px;
}

.footer__info-heading {
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.875;
    color: var(--color-word);
}

.footer__info-list {
    margin-top: 14px;
}

.footer__info-li {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2;
    color: #656689;
}

.footer__copywriter {
    margin-top: 52px;
    margin-left: -108px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.16;
    color: #898989;
}
